.header .container {
  width: 1200px;
  margin: 0 auto;
}
.header .container::before,
.header .container::after {
  content: "";
  display: block;
  clear: both;
}
.header .container .left {
  width: 960px;
  height: 52px;
  float: left;
  margin-top: 20px;
}
.header .container .left ul li {
  float: left;
  width: 306px;
  margin-right: 14px;
}
.header .container .left ul li img {
  width: 34px;
  height: 34px;
  float: left;
}
.header .container .left ul li p {
  float: left;
  margin-left: 10px;
  color: #8d8d8d;
  font-size: 14px;
}
.header .container .right {
  float: right;
  margin-top: 20px;
}
.header .container .right ul li {
  float: right;
  width: 36px;
  height: 36px;
  border: 1px solid black;
  border-radius: 6px;
  margin-right: 10px;
}
.header .container .right ul li img {
  width: 20px;
  height: 20px;
  margin-left: 6px;
  margin-top: 6px;
}
.carousel {
  width: 100%;
  height: 640px;
  background-image: url(../img/banner1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px 40px 40px rgba(0, 0, 0, 0.6);
}
.carousel .header2 {
  width: 100%;
  height: 104px;
  padding-top: 40px;
}
.carousel .header2 .container {
  width: 1200px;
  height: 44px;
  margin: 0 auto;
  padding: 0 15px;
}
.carousel .header2 .container::before,
.carousel .header2 .container::after {
  content: "";
  display: block;
  clear: both;
}
.carousel .header2 .container .left {
  width: 190px;
  float: left;
}
.carousel .header2 .container .left h1 {
  font-size: 30px;
  color: white;
  font-weight: bold;
}
.carousel .header2 .container .right {
  float: right;
  width: 600px;
}
.carousel .header2 .container .right p {
  float: left;
  color: #fff;
  margin-right: 20px;
  margin-top: 10px;
}
.carousel .header2 .container .right .shuru {
  float: left;
  width: 244px;
  height: 38px;
  margin-top: 3px;
}
.carousel .header2 .container .right .shuru input {
  height: 100%;
  border-radius: 10px 0 0 10px;
  border: 1px;
  float: left;
  padding-left: 20px;
}
.carousel .header2 .container .right .shuru .sou {
  float: left;
  width: 50px;
  height: 100%;
  background-color: #ff6a00;
  border-radius: 0 10px 10px 0;
  padding-left: 6px;
  padding-top: 4px;
}
.carousel .header2 .container .right .shuru .sou img {
  width: 28px;
}
.carousel .header2 .container .right .moon {
  width: 28px;
  float: left;
  margin-top: 6px;
}
.carousel .zhongjian {
  width: 700px;
  margin: 0 auto;
  margin-top: 160px;
}
.carousel .zhongjian h1 {
  font-size: 86px;
  color: #fff;
}
.carousel .zhongjian p {
  font-size: 20px;
  color: #fff;
  margin-top: 16px;
}
.jianjie {
  width: 1200px;
  height: 470px;
  margin: 50px auto;
  padding: 60px 20px;
}
.jianjie::before,
.jianjie::after {
  content: "";
  display: block;
  clear: both;
}
.jianjie .cleft {
  width: 558px;
  height: 372px;
  float: left;
}
.jianjie .cleft .thead {
  color: #ff6a00;
  width: 50px;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 2px solid #ff6a00;
}
.jianjie .cleft h1 {
  font-size: 36px;
  font-weight: bold;
  margin: 10px 0;
}
.jianjie .cleft p {
  color: #666;
  width: 460px;
  margin: 40px 0;
}
.jianjie .cleft .boxbut::before,
.jianjie .cleft .boxbut::after {
  content: "";
  display: block;
  clear: both;
}
.jianjie .cleft .boxbut .onebut {
  width: 150px;
  height: 50px;
  background-color: #ff6a00;
  float: left;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.jianjie .cleft .boxbut .twobut {
  width: 150px;
  height: 50px;
  border: 1px solid #ff6a00;
  border-bottom: 4px solid #ff6a00;
  color: #ff6a00;
  float: left;
  margin-left: 20px;
  border-radius: 10px;
  text-align: center;
  line-height: 46px;
  transition: all 1s;
}
.jianjie .cleft .boxbut .twobut:hover {
  background-color: #ff6a00;
  color: #fff;
}
.jianjie .cright {
  width: 558px;
  height: 372px;
  float: right;
  background-image: url(../img/g9.jpg);
}
.tubiao {
  width: 1200px;
  height: 310px;
  margin: 0 auto;
  padding: 60px 0;
}
.tubiao ul li {
  padding: 0 40px;
  float: left;
  width: 300px;
}
.tubiao ul li .fangtu {
  width: 38px;
  height: 38px;
}
.tubiao ul li .fangtu img {
  width: 100%;
}
.tubiao ul li h3 {
  width: 230px;
  font-size: 24px;
  margin: 20px 0;
  font-weight: bold;
}
.tubiao ul li p {
  width: 230px;
  color: #666;
}
.datu {
  height: 580px;
  background-image: url(../img/banner3.jpg);
  background-size: 100%;
}
.datu .heimu {
  background-color: rgba(0, 0, 0, 0.6);
  height: 580px;
  padding-top: 80px;
}
.datu .heimu .boxA {
  width: 1200px;
  margin: 0 auto;
}
.datu .heimu .boxA::before,
.datu .heimu .boxA::after {
  content: "";
  display: block;
  clear: both;
  padding: 20px;
}
.datu .heimu .boxA .dleft {
  width: 560px;
  height: 307px;
  float: left;
  margin-left: 30px;
}
.datu .heimu .boxA .dleft .thead {
  font-size: 14px;
  color: #ff6a00;
  border-bottom: 2px solid #ff6a00;
  padding-bottom: 5px;
  width: 80px;
  margin-bottom: 20px;
}
.datu .heimu .boxA .dleft h1 {
  color: #fff;
  font-weight: bold;
  font-size: 38px;
  margin: 10px 0;
}
.datu .heimu .boxA .dleft p {
  color: #fff;
  font-size: 16px;
  margin: 10px 0;
}
.datu .heimu .boxA .dleft .onebut {
  color: white;
  border: 1px solid white;
  border-bottom: 4px solid white;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  margin-top: 40px;
  transition: all 1s;
}
.datu .heimu .boxA .dleft .onebut:hover {
  background-color: #ff6a00;
  border: 1px solid #ff6a00;
  border-bottom: 4px solid #ff6a00;
}
.datu .heimu .boxA .dright {
  float: right;
  margin-right: 160px;
  margin-top: 60px;
}
.datu .heimu .boxA .dright .bf {
  width: 85px;
  height: 85px;
  border: 1px solid white;
  border-radius: 100%;
}
.datu .heimu .boxA .dright .bf .bfl {
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 100%;
  margin: 15px auto;
}
.datu .heimu .boxA .dright .bf .bfl img {
  width: 16px;
  height: 16px;
  margin-left: 20px;
  margin-top: 20px;
}
.datu .dibu {
  width: 1170px;
  height: 220px;
  margin: 0 auto;
  background-color: #ff6a00;
  margin-top: -100px;
  border-radius: 10px;
}
.datu .dibu ul {
  width: 1100px;
  margin: 0 auto;
  padding: 20px;
}
.datu .dibu ul::before,
.datu .dibu ul::after {
  content: "";
  display: block;
  clear: both;
}
.datu .dibu ul li {
  width: 250px;
  height: 75px;
  float: left;
  text-align: center;
  margin-top: 50px;
  margin-right: 4px;
}
.datu .dibu ul li h1 {
  font-size: 40px;
  font-weight: bold;
}
.datu .dibu ul li h3 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.jiuge {
  width: 1200px;
  height: 1040px;
  margin: 0 auto;
  margin-top: 160px;
  padding: 20px;
}
.jiuge .jiuhead {
  height: 86px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 40px;
}
.jiuge .jiuhead h6 {
  color: #ff6a00;
  border-bottom: 2px solid #ff6a00;
  width: 80px;
  margin: 0 auto;
}
.jiuge .jiuhead h3 {
  font-size: 38px;
  font-weight: bold;
  margin-top: 10px;
}
.jiuge ul li {
  width: 376px;
  height: 250px;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}
.jiuge ul li img {
  width: 100%;
  border-radius: 10px;
}
.jianjietwo {
  background-color: rgba(210, 210, 210, 0.1);
  height: 590px;
  padding: 120px;
}
.jianjietwo .container {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
}
.jianjietwo .container::before,
.jianjietwo .container::after {
  content: "";
  display: block;
  clear: both;
}
.jianjietwo .container .jleft {
  float: left;
  width: 522px;
  height: 375px;
  margin-left: 20px;
}
.jianjietwo .container .jleft .jhead {
  color: #ff6a00;
  border-bottom: 2px solid #ff6a00;
  width: 50px;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 6px;
}
.jianjietwo .container .jleft h1 {
  font-weight: bold;
  font-size: 38px;
  margin: 10px 0;
}
.jianjietwo .container .jleft p {
  color: #666;
  width: 460px;
  line-height: 30px;
  margin: 20px 0;
}
.jianjietwo .container .jleft .jbut {
  width: 150px;
  height: 50px;
  border: 1px solid #ff6a00;
  border-bottom: 4px solid #ff6a00;
  color: #ff6a00;
  border-radius: 6px;
  text-align: center;
  line-height: 46px;
}
.jianjietwo .container .jright {
  float: right;
  width: 600px;
  height: 375px;
  padding: 10px;
}
.jianjietwo .container .jright ul::before,
.jianjietwo .container .jright ul::after {
  content: "";
  display: block;
  clear: both;
}
.jianjietwo .container .jright ul li {
  width: 267px;
  height: 180px;
  float: left;
  margin-left: 20px;
  margin-bottom: 20px;
}
.jianjietwo .container .jright ul li img {
  width: 100%;
  border-radius: 10px;
}
.twohei {
  height: 580px;
  background-image: url(../img/banner4.jpg);
  background-size: 100%;
}
.twohei .heihei {
  background-color: rgba(0, 0, 0, 0.6);
  height: 580px;
  padding-top: 80px;
}
.twohei .heihei .nr {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 60px;
}
.twohei .heihei .nr h6 {
  color: #ff6a00;
  border-bottom: 2px solid #ff6a00;
  margin: 0 auto;
  width: 160px;
}
.twohei .heihei .nr h3 {
  margin: 20px 0;
  font-weight: bold;
  font-size: 38px;
  color: white;
}
.twohei .heihei .nr .fantu {
  width: 60px;
  height: 60px;
  background-image: url(../img/ej.PNG);
  background-size: 100%;
  margin: 0 auto;
  margin-top: 100px;
}
.twohei .heihei .nr p {
  color: white;
  width: 660px;
  margin: 10px auto;
  line-height: 30px;
}
.twohei .heihei .nr h2 {
  color: #ff6a00;
  font-weight: bold;
}
.dl {
  height: 570px;
  width: 1530px;
  margin: 0 auto;
}
.dl::before,
.dl::after {
  content: "";
  display: block;
  clear: both;
}
.dl .dleft {
  width: 765px;
  height: 570px;
  float: left;
  padding: 100px;
}
.dl .dleft h6 {
  color: #ff6a00;
  border-bottom: 2px solid #ff6a00;
  width: 66px;
}
.dl .dleft h1 {
  font-weight: bold;
  font-size: 38px;
  margin: 20px 0;
}
.dl .dleft p {
  color: #666;
  width: 573px;
  margin: 20px 0;
  line-height: 30px;
}
.dl .dleft input {
  width: 560px;
  height: 50px;
  padding-left: 20px;
  margin: 20px 0 16px 0;
}
.dl .dleft .qrbut {
  width: 560px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  background-color: #ff6a00;
}
.dl .dright {
  width: 765px;
  height: 570px;
  background-image: url(../img/ab.jpg);
  background-size: 100%;
  float: right;
}
.end {
  height: 484px;
  background-color: #020202;
  padding: 50px;
}
.end .tdnr {
  height: 300px;
  width: 1200px;
  margin: 0 auto;
}
.end .one {
  width: 400px;
  height: 286px;
  float: left;
  margin-top: 50px;
}
.end .one .dato {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}
.end .one .nrr {
  color: #666;
  width: 340px;
  line-height: 24px;
  margin-bottom: 20px;
}
.end .one .ntt::before,
.end .one .ntt::after {
  content: "";
  display: block;
  clear: both;
}
.end .one .ntt .ftd {
  width: 33px;
  height: 100px;
  float: left;
}
.end .one .ntt .ftd img {
  width: 20px;
  height: 20px;
}
.end .one .ntt .wen {
  float: left;
  font-size: 14px;
  width: 334px;
  color: #666;
}
.end .one .ntt .wen span {
  color: white;
}
.end .one .tbiao li {
  width: 36px;
  height: 36px;
  background-color: #ff6a00;
  border-radius: 8px;
  text-align: center;
  line-height: 36px;
  float: left;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}
.end .one .tbiao img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.end .two {
  width: 200px;
  height: 286px;
  float: left;
  margin-top: 50px;
}
.end .two ul li {
  margin: 10px auto;
  color: #666;
}
.end .two ul .dato {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin: 20px auto;
}
.end .zzh {
  width: 1200px;
  color: #666;
  margin: 0 auto;
}
.end .zzh::before,
.end .zzh::after {
  content: "";
  display: block;
  clear: both;
}
.end .zzh .zleft {
  float: left;
  width: 600px;
}
.end .zzh .zleft span {
  color: #ff6a00;
}
.end .zzh .zright {
  float: right;
  width: 300px;
}
/*# sourceMappingURL=./mystyle.css.map */